<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Impact++ is a student organization located at UW Seattle. We connect CS students
                                                              with projects which benefit society as a whole. Our partners include Microsoft
                                                              Philanthropies’ Hack For Good team, the King County Sheriff’s Office Foundation,
                                                              the Grace Children’s Foundation, and Farestart.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="text-muted">2009-2011</h3>
                                    <h3 class="subheading text-muted">Humble Beginnings</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Everything came from our club papi, Shourya.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="text-muted">March 2011</h3>
                                    <h3 class="subheading text-muted">A Registered Club</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Yeah we're official. NBD. Get about 0 funding though.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="text-muted">December 2012</h3>
                                    <h3 class="subheading text-muted">Peak Enrollment</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As soon as UW heard about us, we had more digits than we knew what to do with.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="text-muted">July 2014</h3>
                                    <h3 class="subheading text-muted">Our First Hackathon</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It was tight af man. You had to be there to understand</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>