<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        Impact++ is a student organization located at UW Seattle. We connect CS students
                        with projects which benefit society as a whole. Our partners include Microsoft
                        Philanthropies’ Hack For Good team, the King County Sheriff’s Office Foundation,
                        the Grace Children’s Foundation, and Farestart. Our club is primarily focused
                        on team based projects, which are provided by our affiliates. Teams of 5-7 student
                        developers then work together throughout the year to tackle these problems, meeting
                        once a week. Another significant portion of our contribution to the open source
                        world comes from our annual hackathon.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Innovation Challenge</h2>
                    <h3 class="section-subheading text-muted">
                        On May 4th, 2019, we hosted our very first Impact Innovation Challenge. We focused
                        on issues right here in our home - Homelessness & Housing, and Health & Safety. Rather
                        than "solve" any of these issues, use technology to mitigate the symptoms and direct causes.
                    </h3>
                    <a href="https://impact-innovation-challenge.webflow.io/">
                        <img src="img/joey.jpg" class="hackathon_img">
                    </a>
                    <h3 class="section-subheading text-muted">
                        Click on the image above to learn more!
                    </h3>
                </div>
            </div>
        </div>
    </section>
