<!-- Initiative Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Innovation Challenge</h2>
                    <h3 class="section-subheading text-muted">
                        On May 4th, 2019, we hosted our very first Impact Innovation Challenge. We focused
                        on issues right here in our home - Homelessness & Housing, and Health & Safety. Rather
                        than "solve" any of these issues, we aim to use technology to mitigate the symptoms
                        and direct causes.
                    </h3>
                    <a href="https://impact-innovation-challenge.webflow.io/">
                        <img src="img/joey.jpg" class="hackathon_img">
                    </a>
                    <h3 class="section-subheading text-muted">
                        Click on the image above to learn more!
                    </h3>
                </div>
            </div>
        </div>
    </section>
